p{
    color: yellow;
}
/* a{
    color: pink;
} */
li{
    color: gold;
    padding: 5px;
    background-color: black;
    font-weight: 200;
    list-style-type: square;
}
em.special, span.special{
    font-weight: bold;
    list-style-type: decimal-leading-zero;
    color: black;
}
a:hover {
    padding: 5px;
    background-color: black;
    color: rgb(49, 221, 30);
    text-decoration: none;
}